[Unit]
Description=SafeW Media Collector Service
After=network.target

[Service]
User={{ USER }}
Group={{ GROUP }}
WorkingDirectory={{ PROJECT_ROOT }}/backend
Environment="PATH={{ PROJECT_ROOT }}/backend/venv/bin"
ExecStart={{ PROJECT_ROOT }}/backend/venv/bin/python app.py
Restart=always
RestartSec=5
KillMode=process
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
